body{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.navbar navbar-expand-lg navbar-dark{
    font-family: 'Times New Roman', Times, serif;
}
